<div class="container">
  <div class="content">
    <div class="basic-container">
      <div *ngIf="LOADING">
        <app-loading></app-loading>
      </div>
      <div class="container" *ngIf="!LOADING">
        <div class="row justify-content-center">
          <div class="col-md-5">
            <div class="card">
              <h2 class="card-title text-center">Assign user permissions</h2>

              <div class="card-body py-md-4">
                <form [formGroup]="formDetails" (ngSubmit)="submit()">
                  <div class="form-group">
                    <label>Assigned user permissions:</label>
                    <ng-select
                      class="custom field"
                      appearance="fill"
                      [items]="USER_PERMISSIONS"
                      bindLabel="description"
                      labelForId="state"
                      [multiple]="true"
                      [closeOnSelect]="false"
                      clearAllText="Clear"
                      formControlName="permissions"
                      [appendTo]="'body'"
                      [clearable]="false"
                    >
                    </ng-select>
                  </div>
                  <div
                    class="d-flex flex-row align-items-center justify-content-between"
                  >
                    <div></div>
                    <button
                      type="button"
                      (click)="submit()"
                      class="btn btn-dark"
                    >
                      <mat-icon inline="true">create</mat-icon>
                      Assign
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
