td {
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
  }
  th {
    vertical-align: middle !important;
    text-align: center !important;
  }
  .btn{
    padding: 0.6rem 1.2rem;
    background: #0275d8;
    color: #ffffff;
    border: 2px solid #0275d8;
  }
  .btn-primary:hover {
      background-color: #0275d8;
      border-color: #0275d8;
    transition: .3s;
  
  }